<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="false">
    <welcome-file-list>
        <welcome-file>/pages/index.html</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>staticFilter</filter-name>
        <filter-class>Filters.StaticFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>staticFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>



    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>Servlets.login</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>Servlets.logout</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>loggedIn</servlet-name>
        <servlet-class>Servlets.loggedInCheck</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>userInfo</servlet-name>
        <servlet-class>Servlets.userInfo</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/pages/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/app/login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/app/logout</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>loggedIn</servlet-name>
        <url-pattern>/app/loggedIn</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>userInfo</servlet-name>
        <url-pattern>/app/getUserInfo</url-pattern>
    </servlet-mapping>



</web-app>