<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="false">
    <!--<welcome-file-list>
        <welcome-file>pages/index.html</welcome-file>
    </welcome-file-list> -->

    <filter>
        <filter-name>staticFilter</filter-name>
        <filter-class>Filters.StaticFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>staticFilter</filter-name>
        <url-pattern>/</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter-mapping>
    <filter-name>staticFilter</filter-name>
    <url-pattern>*.html</url-pattern>
    <dispatcher>REQUEST</dispatcher>
</filter-mapping>

    <filter>
        <filter-name>authFilter</filter-name>
        <filter-class>Filters.UserAuth</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>authFilter</filter-name>
        <url-pattern>/</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>


    <servlet>
        <servlet-name>submitQuery</servlet-name>
        <servlet-class>Servlets.submitQuery</servlet-class>
    </servlet> <!-- submit query -->
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>Servlets.login</servlet-class>
    </servlet> <!-- login -->
    <servlet>
        <servlet-name>init</servlet-name>
        <servlet-class>Servlets.Init</servlet-class>
    </servlet> <!-- init tables -->
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>Servlets.logout</servlet-class>
    </servlet> <!-- logout -->
    <servlet>
        <servlet-name>loggedIn</servlet-name>
        <servlet-class>Servlets.loggedInCheck</servlet-class>
    </servlet> <!-- logged in -->
    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>Servlets.Signup</servlet-class>
    </servlet> <!-- signup -->
    <servlet>
        <servlet-name>userInfo</servlet-name>
        <servlet-class>Servlets.userInfo</servlet-class>
    </servlet> <!-- user info -->
    <servlet>
        <servlet-name>getQueries</servlet-name>
        <servlet-class>Servlets.queries</servlet-class>
    </servlet> <!-- get queries -->
    <servlet>
        <servlet-name>getQuery</servlet-name>
        <servlet-class>Servlets.Query</servlet-class>
    </servlet> <!-- get query -->

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/pages/*</url-pattern>
    </servlet-mapping> <!-- default /* -->
    <servlet-mapping>
        <servlet-name>submitQuery</servlet-name>
        <url-pattern>/app/submitQuery</url-pattern>
    </servlet-mapping> <!-- /app/submitQuery -->
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/app/login</url-pattern>
    </servlet-mapping> <!-- /app/login -->
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/app/logout</url-pattern>
    </servlet-mapping> <!-- /app/logout -->
    <servlet-mapping>
        <servlet-name>loggedIn</servlet-name>
        <url-pattern>/app/loggedIn</url-pattern>
    </servlet-mapping> <!-- /app/loggedIn -->
    <servlet-mapping>
        <servlet-name>userInfo</servlet-name>
        <url-pattern>/app/getUserInfo</url-pattern>
    </servlet-mapping> <!-- /app/getUserInfo -->
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/app/signup</url-pattern>
    </servlet-mapping> <!-- /app/signup -->
    <servlet-mapping>
        <servlet-name>init</servlet-name>
        <url-pattern>/app/init</url-pattern>
    </servlet-mapping> <!-- /app/init (create tables in DB) -->
    <servlet-mapping>
        <servlet-name>getQueries</servlet-name>
        <url-pattern>/app/getQueries</url-pattern>
    </servlet-mapping> <!-- /app/getQueries -->
    <servlet-mapping>
        <servlet-name>getQuery</servlet-name>
        <url-pattern>/app/getQuery</url-pattern>
    </servlet-mapping> <!-- /app/getQuery -->



</web-app>